{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>

{% block main %}
    {% if user.is_authenticated %}

        <div class="container mt-5">
            <h1>Artigos</h1><hr class="mb-5">        
        </div>

    {% else %}
        <div class="p-5 text-center bg-image" style="margin-top: -45px;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white" data-aos="zoom-out" data-aos-duration="700">
                        <h1 class="text-uppercase fw-bold mb-4">
                            <img
                            src="../static/img/logo.png"
                            height="80"
                            alt=""
                            loading="lazy"
                            style="margin-top: -1px;"
                            />Ancapistão
                        </h1>
                        <h4 class="p-1">Seja bem vindo(a) a um ambiente livre, destinado a liberdade absoluta de expressão.</h4>
                        <a class="btn btn-primary btn-lg mt-5" href="{{url_for('auth.sign_up')}}" role="button">Participe</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}